/* wrapper */
.wrapper {
    width: 95%;
    margin: 0 auto;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    text-align: center;
}

/* background colours */
section:nth-child(odd) {
    background: $off-white;
}


/* text styling */ 
a {
    text-decoration:none;

    &:focus,
    &:hover {
        background: $sunny-yellow;
    }
}

ul {
    list-style-type: none;
}

/* image */ 
img {
    max-width: 100%;
    height: auto;
}

/* buttons */ 
.read-more {
    display: inline-block;
    background: $green;
    color: white;
    padding: 10px;


}

/* footer */ 
footer {
    display: block;
    background: $black;
    color: $off-white;
    text-align: center;
    margin: 0;
    padding: 5px;

    p {
        margin: 0 auto;
    }
}