/* Background Image */
.index {
    background-image: url(../planted-final-assets/home-image-1.jpg);
}

.blog-header {
    background-image: url(../planted-final-assets/blog-header-1.jpg);
}

.index,
.blog-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    z-index: 10;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    height: 550px;
    width: 100%;

    position: relative;

/* text color */
    color: white;

    span {
        color: $sunny-yellow;
        display: block;
    } //end span

    i {
        font-size: 2rem;
        font-weight: 300;
    }

/*container shenanigans*/ 
    .top-container {
        width: 100%;
        background: black;
        
    }
    .index-top-container {
        width: 100%;
        background: transparent;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        
    }
    .nav-container {
        display: flex;
        flex-direction: column;

        label {
            position: relative;
            bottom: 25%;
        }
    }
// header title itself
    .page-title {
        display: flex;
        height: 100%;
        align-items: flex-end;
        z-index: 8;
    }

/* Nav section */ 
    nav {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        padding: 100px;
    
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0;

            li {
                margin: 10px;
            }
    
        
        } //end ul
    
        span {
            color: $sunny-yellow;
        }

        //nav positioning shenanigans
        position: absolute;
        top: -500px;
        right: 25%;
        z-index: 9;
        transition: 0.5s;

        background-color: rgba(0, 0, 0, 0.95);
        a {
            color: white;
            &:visited {
                color : $off-white;
            } //end visited
        } //end anchor
    
    } // end nav

/* checkbox Menu button */
    input[type=checkbox] {
        opacity: 0;
        
        &:checked ~ nav {
            top: 100px; 
        }

        &:checked ~ label {
            color: $sunny-yellow;
        }




        &:focus + label {
            border: 1px dotted $sunny-yellow;
        }
    }

    /*top image block */
.accent-image {
    max-width: 500px;
    width: 50%;

    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 7;
    
    margin: 0 auto;

}
} // end header

/*Blog-page header */
.blog-header {
    background-position: bottom;
    height: 350px;
    align-items: flex-start;
    text-align: left;
}



.comments-section {
    h6 {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}
