@media (min-width: 660px) {
    .accent-image {
        width: 35%;
        bottom: 0;
    }

    .blog-header {
        height: 400px;
    }

    .info-nav {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                display: inline-block;
                width: 50%;

            }
        }
       
    } //info-nav END;

    .founder {
        .container {
            flex-direction: row;
            justify-content: space-between;
            .img-container {
                margin: 0 auto;
                width: 100%;
                padding-bottom: 0;
            }
            .text {
                margin-left: 40px;
            }
        }
        .read-more {
            align-self: start;
        }
    } // .founder END

    .gallery {
        ul {
            justify-content: space-between;

            li, li:not(li:first-child) {
                display: inherit;
                padding: 5px;

            }
        }
        img {
            object-fit: contain;
        }
    }

} // query END


/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
    .wrapper {
        width: 90%;
    }

    header {
        .wrapper {
            justify-content: flex-start;
        }

        input, label {
            display: none;
        }
        .nav-container {
            flex-direction: row;
        }
        nav {
            position: static;
            padding: 0 50px;
            ul {
                flex-direction: row;
            }
            &.index {
                background-image: none;
            }
        }
    }
    header.index .page-title {
        align-items:center;
        justify-content: center;

    }
    //header changes END

    .accent-image {
        bottom: 0;
    }

    .what-is {
        padding-top: 200px;
        .text {
            text-align: center;
        }
    }

    .filler-image {
        padding: 1px 5px;
        height: 250px;
    }

    /* Blog styles */
    .blog-post {
        .wrapper {
            width: 80%;
        }

        article {
            padding: 50px 10px;
        }

        .comments-section {
            padding: 50px;

        }
    }




} //query END


@media (min-width: 900px) {
    .announcements {
        position: relative;

        .container {
            max-width: 1000px;
            padding: 0px;
            display: flex;
            justify-content: space-between;

            img {
                width: 50%;
                max-width: 500px
            }

            &:first-child {
                img{
                    position: absolute;
                    top: -1%;
                    left: 0;
    
                }
            }

            &:last-child {
                flex-direction: row-reverse;

                img {
                    position: absolute;
                    bottom: -1%;
                    right: 0;
                    
                }
            }


            div {
                width: 40%;
            }
        }
    } // .announcements END

    .filler-image {
        height: 350px;
    }

    .founder {
        .container {
            padding: 20px 0;
        }
    }


} // end query

@media (min-width: 1000px) {
    .wrapper {
        width: 80%;
    }

    .filler-image {
        .img-container {
            background-size: contain;
        }
    }
    
/* Blog styles */
    main.blog-main {
        background-color: $off-white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

    }

    .blog-post {
        width: 800px;
    }

    .extra-info {

        background-color: white;
        width: 400px;
        height: 600px;
    }
} // end query