nav {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;

    
    } //end ul

    span {
        color: $sunny-yellow;
    }

} // end nav