html {
    font-size: 125%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6, button, .read-more {
    font-family: "Josefin Sans", sans-serif;
    
}

//Planted nav
h1 {
    font-weight: 300;
} 

//Planted invitation
h2 {
    font-weight: 400;
    font-size: 4.15rem;
    line-height: 4.15rem;
}

h3, h4, h5, h6, button, .read-more {
    font-weight: 700;
}


//Get in touch
h4 {
    font-size: 2rem;
    line-height: 2.3rem;
}

//What is planted
h3 {
    font-size: 2.82rem;
    letter-spacing: 0.065rem;
    line-height: 3rem;
}

//Our Mission (blog page)
.blog h3 {
    font-size: 2.15rem;
    letter-spacing: 0.065rem;

}

//Planted's founder
h5 {
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
}

//upcoming, Unique
h6 {
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
}

//comment header
// h6 { will decide what header to use later }

.read-more, button {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;
}




