html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* colors */
html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6, button, .read-more {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
  font-size: 4.15rem;
  line-height: 4.15rem;
}

h3, h4, h5, h6, button, .read-more {
  font-weight: 700;
}

h3, h4, h5, h6 {
  margin: 0;
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
}

h3 {
  font-size: 2.82rem;
  letter-spacing: 0.065rem;
  line-height: 3rem;
}

.blog h3 {
  font-size: 2.15rem;
  letter-spacing: 0.065rem;
}

h5 {
  font-size: 2.1rem;
  line-height: 2.2rem;
  letter-spacing: 0.05rem;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
}

.read-more, button {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

/* Skip Link - template taken from https://css-tricks.com/how-to-create-a-skip-to-content-link/*/
.skip-to-content {
  height: 30px;
  padding: 8px;
  position: absolute;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.skip-to-content:focus {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* wrapper */
.wrapper {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

/* background colours */
section:nth-child(odd) {
  background: #F0EFED;
}

/* text styling */
a {
  text-decoration: none;
}

header a:focus, header a:hover {
  background: #074115;
}

main a {
  color: black;
}
main a:visited {
  color: #2c2c2c;
}
main a:focus, main a:hover {
  border: 2px dotted #2c2c2c;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* image */
img {
  max-width: 100%;
  height: auto;
}

/* buttons */
.read-more {
  display: inline-block;
  background: #0E902D;
  color: white;
  padding: 10px;
}
.read-more:visited {
  color: white;
}

/* footer */
footer {
  display: block;
  background: #2c2c2c;
  color: #F0EFED;
  text-align: center;
  margin: 0;
  padding: 5px;
}
footer p {
  margin: 0 auto;
}

/* font-awesome icon rendering */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Background Image */
.index {
  background-image: url(../planted-final-assets/home-image-1.jpg);
}

.blog-header {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
}

.index,
.blog-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  z-index: 10;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  height: 550px;
  width: 100%;
  position: relative;
  /* text color */
  color: white;
  /*container shenanigans*/
  /* Nav section */
  /* checkbox Menu button */
  /*top image block */
}
header span {
  color: #F8E71C;
  display: block;
}
header i {
  font-size: 2rem;
  font-weight: 300;
}
header .top-container {
  width: 100%;
  background: black;
}
header .index-top-container {
  width: 100%;
  background: transparent;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .nav-container label {
  position: relative;
  bottom: 25%;
}
header .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 8;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  padding: 100px;
  position: absolute;
  top: -500px;
  right: 25%;
  z-index: 9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.95);
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}
header nav ul li {
  margin: 10px;
}
header nav span {
  color: #F8E71C;
}
header nav a {
  color: white;
}
header nav a:visited {
  color: #F0EFED;
}
header input[type=checkbox] {
  opacity: 0;
}
header input[type=checkbox]:checked ~ nav {
  top: 100px;
}
header input[type=checkbox]:checked ~ label {
  color: #F8E71C;
}
header input[type=checkbox]:focus + label {
  border: 1px dotted #F8E71C;
}
header .accent-image {
  max-width: 500px;
  width: 50%;
  position: absolute;
  bottom: -10%;
  right: 0;
  z-index: 7;
  margin: 0 auto;
}

/*Blog-page header */
.blog-header {
  background-position: bottom;
  height: 350px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.comments-section h6 {
  font-size: 1rem;
  line-height: 1.6rem;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.read-more {
  display: inline-block;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 30px;
}

section {
  padding: 50px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding: 0px 5px 100px 5px;
}

/*.what-is */
.what-is {
  padding: 150px 5px 200px 5px;
  position: relative;
}

/* .announcements */
.announcements {
  max-width: 1200px;
  margin: 0 auto;
}
.announcements .img-container {
  margin-bottom: 20px;
}
.announcements .img-container img {
  -webkit-box-shadow: 10px 10px 1px #F8E71C;
          box-shadow: 10px 10px 1px #F8E71C;
}
.announcements .container:not(:last-child) {
  padding-bottom: 100px;
}
.announcements .container:nth-child(even) img {
  -webkit-box-shadow: -10px 10px 1px #F8E71C;
          box-shadow: -10px 10px 1px #F8E71C;
}

/* info-nav styling */
.info-nav .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.info-nav .info-block i {
  display: inline-block;
  background: #F8E71C;
  border: 1px solid #F8E71C;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

/* filler-image */
.filler-image {
  padding: 20px 5px;
  height: 200px;
}
.filler-image .img-container {
  height: 100%;
  width: 100%;
  background-image: url(../planted-final-assets/banner-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* founder */
.founder .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.founder .img-container {
  margin: 20px auto;
  padding-bottom: 20px;
}
.founder .img-container img {
  -webkit-box-shadow: 10px 10px 1px #F8E71C;
          box-shadow: 10px 10px 1px #F8E71C;
}

/* gallery */
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery ul li:not(li:first-child) {
  display: none;
}

/* BLOG PAGE */
span,
span a,
.date {
  color: #074115;
}

.date span,
span a {
  font-weight: 700;
}

.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-post .post-img {
  -webkit-box-shadow: -10px 10px 1px #F8E71C;
          box-shadow: -10px 10px 1px #F8E71C;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-post .img-container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}
.blog-post article {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 5px solid #F8E71C;
}
.blog-post .comment {
  padding: 20px 0;
}

.extra-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 660px) {
  .accent-image {
    width: 35%;
    bottom: 0;
  }

  .blog-header {
    height: 400px;
  }

  .info-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info-nav ul li {
    display: inline-block;
    width: 50%;
  }

  .founder .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .founder .container .img-container {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0;
  }
  .founder .container .text {
    margin-left: 40px;
  }
  .founder .read-more {
    -ms-flex-item-align: start;
        align-self: start;
  }

  .gallery ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery ul li, .gallery ul li:not(li:first-child) {
    display: inherit;
    padding: 5px;
  }
  .gallery img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
  .wrapper {
    width: 90%;
  }

  header .wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header input, header label {
    display: none;
  }
  header .nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav {
    position: static;
    padding: 0 50px;
  }
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav.index {
    background-image: none;
  }

  header.index .page-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .accent-image {
    bottom: 0;
  }

  .what-is {
    padding-top: 200px;
  }
  .what-is .text {
    text-align: center;
  }

  .filler-image {
    padding: 1px 5px;
    height: 250px;
  }

  /* Blog styles */
  .blog-post .wrapper {
    width: 80%;
  }
  .blog-post article {
    padding: 50px 10px;
  }
  .blog-post .comments-section {
    padding: 50px;
  }
}
@media (min-width: 900px) {
  .announcements {
    position: relative;
  }
  .announcements .container {
    max-width: 1000px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .announcements .container img {
    width: 50%;
    max-width: 500px;
  }
  .announcements .container:first-child img {
    position: absolute;
    top: -1%;
    left: 0;
  }
  .announcements .container:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .announcements .container:last-child img {
    position: absolute;
    bottom: -1%;
    right: 0;
  }
  .announcements .container div {
    width: 40%;
  }

  .filler-image {
    height: 350px;
  }

  .founder .container {
    padding: 20px 0;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    width: 80%;
  }

  .filler-image .img-container {
    background-size: contain;
  }

  /* Blog styles */
  main.blog-main {
    background-color: #F0EFED;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .blog-post {
    width: 800px;
  }

  .extra-info {
    background-color: white;
    width: 400px;
    height: 600px;
  }
}
/* Form template taken from Juno WebDev Bootcamp Code-along */
.contactForm {
  width: calc(50% - 70px);
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input, textarea {
  padding: 0 0 10px 5px;
  border: none;
  margin-bottom: 40px;
  color: #333;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}
input::placeholder, textarea::placeholder {
  font-size: 0.8rem;
  color: #2c2c2c;
  opacity: 1;
  line-height: 1.2rem;
  text-transform: uppercase;
}

input {
  border: none;
  border-bottom: 1px solid #eee;
}

textarea {
  min-height: 130px;
  border: 1px solid #eee;
  border-top: none;
}